<section class="section">
    <div class="container has-background-error">
        <h1 class="is-size-1">{{message}}</h1>
        <br>
        <h2>{{error.status}}</h2>
        <pre class="has-background-danger has-text-white">{{error.stack}}</pre>
    </div>
</section>